/*
  Primary Site Theme
  - color 1 is the darkest
  - color three is the core
  - color 5 is the lightest
*/

/* https://coolors.co/606c38-283618-fefae0-2c2c2c-dda15e-aa6122 */
$color-core-lightgreen: #606C38;
$color-core-darkgreen: #283618;
$color-core-lightbrown: #DDA15E;
$color-core-darkbrown: #AA6122;
$color-core-light: #FEFAE0;
$color-core-dark: #2C2C2C;

/* https://coolors.co/fff5b6-fff8cb-fefae0-fffcea-fffdf3 */
$color-light-1: #fff5b6;
$color-light-2: #fff8cb;
$color-light-3: #fefae0;
$color-light-4: #fffcea;
$color-light-5: #fffdf3;

/* https://coolors.co/1f1f1f-292929-2c2c2c-3d3d3d-474747*/
$color-dark-1: #1f1f1f;
$color-dark-2: #292929;
$color-dark-3: #2C2C2C;
$color-dark-4: #3d3d3d;
$color-dark-5: #474747;

/* https://coolors.co/48512a-545e31-606c38-6b793e-6b793e */
$color-lightgreen-1: #48512a;
$color-lightgreen-2: #545e31;
$color-lightgreen-3: #606C38;
$color-lightgreen-4: #6b793e;
$color-lightgreen-5: #6b793e;

/* https://coolors.co/151c0d-1f2a13-283618-344620-344620 */
$color-darkgreen-1: #151c0d;
$color-darkgreen-2: #1f2a13;
$color-darkgreen-3: #283618;
$color-darkgreen-4: #344620;
$color-darkgreen-5: #344620;

/* https://coolors.co/d89446-db9d57-dda15e-e2b178-e6bb89 */
$color-lightbrown-1: #d89446;
$color-lightbrown-2: #db9d57;
$color-lightbrown-3: #dda15e;
$color-lightbrown-4: #e2b178;
$color-lightbrown-5: #e6bb89;

/* https://coolors.co/884e1b-99581e-aa6122-bb6b25-cc7528 */
$color-darkbrown-1: #884e1b;
$color-darkbrown-2: #99581e;
$color-darkbrown-3: #aa6122;
$color-darkbrown-4: #bb6b25;
$color-darkbrown-5: #cc7528;

/* https://coolors.co/880112-9b0a17-ad121b-ce3032-d93d3c */
$color-red-1: #D93D3C;
$color-red-2: #CE3032;
$color-red-3: #AD121B;
$color-red-4: #9B0A17;
$color-red-5: #880112;

/* https://coolors.co/e63946-2b9449 */
$color-pass: #2B9449;
$color-fail: #E63946;

/* https://coolors.co/f94144-f3722c-f9c74f-90be6d-52991b */
$color-strength-excellent: #52991b;
$color-strength-good: #90be6d;
$color-strength-average: #f9c74f;
$color-strength-mediocre: #f3722c;
$color-strength-poor: #f94144;
